/*最外层容器*/
.yys {
	width: 100%;
	max-width: 1920px;
	min-width: 1280px;
	justify-content: center;
	align-items: center;
	margin: 0 auto
	/*自动找高*/
}
/*头部开始*/
.hidden_show > img {
	width: 250px;
	height: 60px;
}
.hidden_box .hidden_show{
	position: absolute;
	height: 0;
	width: 0;
	padding: 0;
	overflow: hidden;
	opacity: 0;
	transition: 0.8s;
}
.hidden_box input:checked ~ .hidden_show{
	position: absolute;
	top: 150px;
	left: 715px;
	padding: 10px 0;
	height: auto;
	width: auto;
	opacity: 1;
}
a {
	text-decoration: none;
}
.header { 
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 55px;
}
.menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 179px;
	height: 54px;
	background-color: #cf1132;
	font-size: 12px;
	color: #fff;
}
.header-img{
	position: relative;
	top: 5px;
	left: 666px;
	width: 160px;
	height: 45px;
	background: url(../img/logo_b5525b7.png) no-repeat;
}
.menu-list {
	position: relative;
	top: 0;
	left: 0;
	display: none;
	width: 1350px;
	height: 490px;
	z-index: 1000;
	text-align: left;
	background: url(../img/shiting_bg_735f29c.jpg);
}
.menu:hover > .menu-list {
	display: block;
}
.sale {
	position: absolute;
	top: 0;
	right: 0;
	width: 138px;
	border-left: 1px solid #DADADA;
	height: 54px;
	color: #333333;
	font-size: 12px;
/*	修改光标*/
	cursor: pointer;
}
.sale:hover {
	color: #bc2e2e;
	border-bottom: 1px solid #BC2E2E;
	background-color: #f3f3f3;
}
/*头部结束*/
/*轮播图开始*/
/*banner样式开始*/
.banner {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 784px;
	/*background: red;*/
}
.nav {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	z-index: 999;
	background: palegoldenrod url(../img/nav_back_bg_fd2505e.jpg) no-repeat center top;
}
.nav-wrap {
	position: relative;
	margin: 0 auto;
	width: 1180px;
	height: 70px;
	line-height: 70px;
}
.nav-wrap ul{
	width: 100%;
	height: 100%;
}
.nav-wrap li {
	float: left;
	width: 81px;
	font-size: 14px;
	list-style: none;
}
.nav-wrap a{
	color: #fff;
}
.nav-active{
	background: url(../img/nav_bg1_d44f09d.jpg) no-repeat;
}
.nav-active>a{
	color: #000;
}
.nav-wrap li:hover{
	background: url(../img/nav_bg1_d44f09d.jpg) no-repeat;
	color: #000;
}
/*鼠标悬停li 子元素a 字体变色*/
.nav-wrap li:hover>a{
	color: #000;
}
.search {
	position: absolute;
	top: 25px;
	right: -30px;
	width: 18px;
	height: 19px;
	background: url(../img/search_b180dd5.png) no-repeat;
}
.nav-wrap .search:hover{
	background: url(../img/search_b180dd5-fanzhuan.png) no-repeat;
}
.shishensousuotubiao{
	position: relative;
	top: -16px;
	left: 156px;
	width: 25px;
	height: 25px;
}
.nav-list {
	position: absolute;
	top: 60px;
	left: -370px;
	width: 1920px;
	height: 140px;
	z-index: 1;
	display: none;
	text-align: center;
	background: url(../img/subnav_bg_5cc9309.jpg) center 0 no-repeat;
}
.nav-list img{
	border: 2px solid #000;
}
#nav-zx:hover>.nav-list{
	display: block;
}
#nav-ss:hover>.nav-list{
	display: block;
}
#nav-gl:hover>.nav-list{
	display: block;
}
#nav-sq:hover>.nav-list{
	display: block;
}
#nav-yl:hover>.nav-list{
	display: block;
}
#nav-st:hover>.nav-list{
	display: block;
}
#nav-zt:hover>.nav-list{
	display: block;
}
#nav-zb:hover>.nav-list{
	display: block;
}
#nav-cb:hover>.nav-list{
	display: block;
}
#nav-qd:hover>.nav-list{
	display: block;
}
#nav-xy:hover>.nav-list{
	display: block;
}
#nav-fl:hover>.nav-list{
	display: block;
}
#nav-zy:hover>.nav-list{
	display: block;
}
.nav-list img{
	margin: 24px 10px 0;
}
#Code-ony{
	position: relative;
	top: 0;
	left: 280px;
}
#Code-oji{
	position: relative;
	top: 0;
	left: 163px;
}
.zx-tit{
	position: relative;
	top: -4px;
	left: -50px;
	background: #c2a060;
	color: #000;
	font-size: 14px;
	line-height: 24px;
	padding: 0 2px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 2px;
}
.xy-tit-oji {
	position: relative;
	top: -4px;
	left: -140px;
	background: #c2a060;
	color: #000;
	font-size: 14px;
	line-height: 24px;
	padding: 0 2px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 2px;
}
.ss-tit{
	position: relative;
	top: 0;
	left: -40px;
	background: #c2a060;
	color: #000;
	font-size: 14px;
	line-height: 24px;
	padding: 0 2px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 2px;
}
.gl-tit{
	position: relative;
	top: 0;
	left: -50px;
	background: #c2a060;
	color: #000;
	font-size: 14px;
	line-height: 24px;
	padding: 0 2px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 2px;
}
.sq-tit{
	position: relative;
	left: -40px;
	background: #c2a060;
	color: #000;
	font-size: 14px;
	line-height: 24px;
	padding: 0 2px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 2px;
}
.yl-tit{
	position: relative;
	left: -30px;
	background: #c2a060;
	color: #000;
	font-size: 14px;
	line-height: 24px;
	padding: 0 2px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 2px;
}
.st-tit{
	position: relative;
	top: 0;
	left: -30px;
	background: #c2a060;
	color: #000;
	font-size: 14px;
	line-height: 24px;
	padding: 0 2px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 2px;
}
.zt-tit{
	position: relative;
	left: -50px;
	background: #c2a060;
	color: #000;
	font-size: 14px;
	line-height: 24px;
	padding: 0 2px;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 2px;
}
/*banner样式结束*/
.banner-box{
	position: relative;
	top: -10px;
	height: 784px;
	overflow: hidden;
	width: 100%;
}
.banner-box>img{
	/*position: relative;*/
	/*left: -960px;*/
	margin-top: -10px;
	margin-left: 50%;
	transform: translate(-960px);
}
.banner-bottom{
	position: absolute;
	top: 500px;
	left: 0;
	width: 100%;
	height: 287px;
	background: url(../img/bot_head_bg_450ba6b.png) repeat-x center bottom;
}
.shilingtishi{
	position: relative;
	top: 146px;
	left: 0;
	width: 145px;
	height: 240px;
	padding-top: 47px;
	float: left;
	background: url("../img/age_reminder_e7d5046.png") no-repeat;
}
.download-wrap{
	position: relative;
	top: 0;
	left: -30px;
	width: 145px;
	height: 240px;
	padding-top: 47px;
	float: left;
	background-image: url("../img/index_z_203e03e.png");
}
.download-qrcode{
	position: relative;
	top: 0;
	left: 19px;
	width: 107px;
	height: 107px;
}
.download-qrcode >img{
	width: 107px;
	height: 107px;
}
.button-desktop{
	text-decoration: none;
	width: 107px;
	height: 75px;
	display: block;
	margin: 11px auto;
	background: url(../img/btn4-1_04859d3.png) no-repeat;
	background-size: 100% 100%;
}
.on{
	float: left;
	width: 162px;
	height: 41px;
	text-align: center;
	letter-spacing: 3px;
	background: rgba(0,0,0,.8);
	line-height: 34px;
}
.on>a{
	color: #c2a060;
}
.on>span{
	width: 83px;
	height: 4px;
	display: block;
	margin: 0 auto;
	background: url(../img/index_z_203e03e.png) no-repeat -644px -727px;
}
.news-box{
	position: absolute;
	top: 71px;
	left: 262px;
	width: 1096px;
	height: 200px;
	overflow: hidden;
	/*background: red;*/
}
.zixun-box{
	position: relative;
	top: -16px;
	left: 8px;
	width: 100%;
	height: 200px;
	padding-bottom: 10px;
	float: left;
	overflow: auto;
	/*background: gold;*/
}
.none-img{
	position: relative;
	top: 10px;
	left: 0;
	line-height: 170%;
	float: left;
	width: 200px;
	height: 165px;
	background: #fff;
	margin: 0 17px 17px 0;
	padding: 6px 25px 16px 25px;
}
.none-img >a >h2{
	position: relative;
	top: 10px;
	left: 0;
	width: 100%;
	height: 80px;
	text-align: left;
	font-size: 16px;
	font-weight: 700;
	color: #000;
	overflow: hidden;
	/*white-space: nowrap;*/
	text-overflow: ellipsis;
}
.p-box{
	position: relative;
	top: -5px;
	left: 0;
	width: 200px;
	height: 50px;
	color: #000;
	font-size: 9px;
	overflow: hidden;
	/*white-space: nowrap;*/
	text-overflow: ellipsis;
	/*background: red;*/
}
.arrow {
	position: absolute;
	top: 165px;
	left: 25px;
	width: 41px;
	height: 5px;
	background: url(../img/arrow_245be57.png) no-repeat;
	margin-left: 160px;

}
.banner-logo{
	position: absolute;
	left: 150px;
	top: 130px;
	width: 77px;
	height: 228px;
	background: url(../img/200.webp) 0 0 no-repeat;
	background-size: 100%;
}
/*轮播图结束*/
/*主体开始*/
/*平安世界开始*/
.wrap{
	width: 1180px;
	margin: 0 auto;
}
.world{
	position: relative;
	top: 50px;
	left: 0;
	width: 100%;
	height: 560px;
	overflow: hidden;
}
.world-tab{
	position: relative;
	top: 0;
	left: 0;
	width: 292px;
	height: 36px;
	border: 2px solid #c2a060;
	z-index: 10;
	margin: 0 0 0 120px;
}
.world-tab li>a{
	color: #000;
}
.world-tab>ul{
	position: relative;
	top: 0;
	left: 0;
	width: 252px;
	height: 36px;
	list-style: none;
	/*background: red;*/
}
.world-tab>ul :hover{
	background: #c2a060;
}
.shishenlu{
	position: relative;
	top: -14px;
	left: -39px;
	float: left;
	width: 96px;
	height: 32px;
	font-size: 14px;
	line-height: 32px;
	background: #c2a060;
	color: #fff;
}
.zhujuelu{
	position: relative;
	top: -14px;
	left: -38px;
	float: left;
	width: 96px;
	height: 32px;
	font-size: 14px;
	line-height: 32px;
}
#fengexian{
	position: relative;
	top: -43px;
	left: 153px;
	width: 1px;
	height: 25px;
	color: #c2a060;
}
.shengyoulu{
	position: relative;
	top: -46px;
	left: 155px;
	float: left;
	width: 96px;
	height: 32px;
	font-size: 14px;
	line-height: 32px;
}
.shishen-search{
	position: absolute;
	top: 18px;
	right: 0;
	font-size: 12px;
	width: 182px;
	height: 23px;
	z-index: 20;
	border-bottom: 1px solid #c2a060;
}
.shishen-search input{
	border: none;
	outline: medium;
	text-align: left;
}
.shishensousuotubiao{
	background: url(../img/search_b180dd5.png) no-repeat;
}
.shishensousuotubiao:hover{
	background: url(../img/search_b180dd5-fanzhuan.png) no-repeat;
}
.toList{
	position: absolute;
	left: 120px;
	top: 63px;
	color: #c2a060;
	z-index: 996;
	line-height: 170%;
}
.toList-list{
	position: absolute;
	top: -2px;
	left: 0;
	width: 1280px;
	height: 436px;
	z-index: 999;
	display: none;
	background: #ffffff;
}
.toList:hover >.toList-list{
	display: block;
}
.i{
	position: relative;
	top: 0;
	left: 0;
	width: 8px;
	height: 13px;
	color: #c2a060;
	margin-right: 20px;
	background: url(../img/back_a41fdf7.png) no-repeat;
 }
.toList span{
	position: relative;
	top: -21px;
	left: 16px;
}
.shishen-tab{
	position: relative;
	top: 0;
	left: 0;
	text-align: left;
	width: 1280px;
	height: 0;
}
.shishen-tab a{
	position: relative;
	line-height: 170%;
	font-size: 18px;
	padding: 0 20px;
	color: #c2a060;
	text-decoration: none;
}
.shishen-tab>u{
	position: relative;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
}
.shishen-list-container{
	position: relative;
	top: 32px;
	left: 0;
	width: 100%;
	height: 500px;
}
.shishen-list-container-box{
	position: relative;
	top: -20px;
	left: 0;
	width: 1118px;
	height: 500px;
}
.shishen-lcb{
	width: 100px;
	height: 100px;
	float: left;
	text-align: right;
	margin-right: 20px;
	margin-top: 30px;
}
.shishen-lcb>img{
	width: 100px;
	height: 100px;
}
.shishen-lcb>a{
	position: relative;
    top: -5px;
    left: -8px;
    color: #000000;
}
.Selection-box{
	position: relative;
	top: -80px;
	left: 480px;
	display: block;
	width: 98px;
	height: 30px;
	border: 1px solid #ecdbbd;
	float: left;
}
.Selection-box>a{
	position: relative;
	top: -2px;
	left: 0;
}
.morld-title{
	position: absolute;
	top: 0;
	left: 0;
	width: 54px;
	height: 145px;
	background: url(../img/index_z_203e03e.png) 352px -532px;
}
.world-img {
	width: 1180px;
	height: 320px;
	background:url(../img/shishen_bg_000bc91.jpg) no-repeat center top;
	margin-top: 175px;
}
.big-img{
	width: 940px;
	height: 320px;
	margin: 0 auto;	
}
.big-img>a{
	position: relative;
	float: left;
	width: 470px;
	height: 320px;
}
.big-img img{
	position: absolute;
	top: -186px;
	right: -140px;
}
.big-img .big-img-left{
	position: relative;
	left: -140px;
}
/*平安世界结束*/
/*游戏攻略开始*/
.game{
	position: relative;
	top: 50px;
	left: 5px;
	width:100%;
	height: 510px;
	z-index: 1;
	background: url(../img/stategy_bg_4def7a7.jpg) no-repeat 0 174px;
}
.game-tit{
	float: left;
	width: 55px;
	height: 145px;
	background: url(../img/index_z_203e03e.png) -897px -532px;
}
.game-box{
	position: absolute;
	width: 1080px;
	height: 209px;
	right: 0;
}
.game-box>div{
	position: relative;
	float: left;
	width: 340px;
	height: 209px;
	margin-left: 20px;
}
.game-box span{
	position: absolute;
	width: 40px;
	height: 90px;
	display: block;
	color: #000;
	font-size: 14px;
	line-height: 18px;
	padding: 6px 13px 0 13px;
	box-sizing: border-box;
	background: url(../img/stategy_tit_bg_3dfaee2.png);
}
.game-box span:first-of-type{
	top: 2px;
	left: 18px;
}
.game-box span:last-of-type{
	top: 22px;
	left: 68px;
}
.game-list{
	position: relative;
	top: 229px;
	left: -10px;
	width: 1125px;
	height: 55px;
	float: left;
	/*background: red;*/
}
.game-list-box{
	position: relative;
	top: 6px;
	left: 75px;
	width: 158px;
	height: 50px;
	float: left;
	color: #78b798;
}
#zuixin{
	width: 158px;
	height: 50px;
	color: #78b798;
	background: #ffffff;
}
.game-list-box>a{

}
.game-ul{
	position: relative;
	top: 0;
	left: 0;
	width: 158px;
	height: 50px;
	font-size: 18px;
	text-align: center;
	color: #ffffff;
	padding-top: 12px;
	list-style-type: none;
}
#game-i1{
	position: absolute;
	top: 20px;
	left: 380px;
	width: 2px;
	height: 20px;
	margin-left: 10px;
	background: url("../img/index_z_203e03e.png") no-repeat -1155px -185px;
}
#game-i2{
	position: absolute;
	top: 20px;
	left: 538px;
	width: 2px;
	height: 20px;
	margin-left: 10px;
	background: url("../img/index_z_203e03e.png") no-repeat -1155px -185px;
}
#game-i3{
	position: absolute;
	top: 20px;
	left: 696px;
	width: 2px;
	height: 20px;
	margin-left: 10px;
	background: url("../img/index_z_203e03e.png") no-repeat -1155px -185px;
}
#game-i4{
	position: absolute;
	top: 20px;
	left: 853px;
	width: 2px;
	height: 20px;
	margin-left: 10px;
	background: url("../img/index_z_203e03e.png") no-repeat -1155px -185px;
}
.game-list-box :hover {
	color: #78b798;
	background: #ffffff;
}
.tougao{
	position: absolute;
	top: 222px;
	right: 40px;
	color: #fff;
	width: 163px;
	height: 44px;
	line-height: 44px;
	font-size: 18px;
	text-align: center;
	border: 2px solid #fff;
	text-decoration: none;
}
.tougao a{
	color: #ffffff;
}
.gonglue-box{
	position: relative;
	top: 140px;
	right:0;
	width: 1058px;
	height: 124px;
	line-height: 170%;
	float: left;
	font-size: 12px;
	color: #000;
	margin: 0;
	border: 2px solid #81c0a1;
	border-top: 0;
	padding: 30px 0 0 118px;
	background: #ffffff;
}
.game-gonglue{
	position: relative;
	top: 0;
	left: -59px;
	width: 350px;
	height: 125px;
	margin-right: 2px;
	float: left;
	/*background: red;*/
}
.fgx1{
	line-height: 170%;
	font-size: 12px;
	list-style: none;
	color: #000;
	font-style: normal;
	width: 2px;
	height: 40px;
	background: #ccc;
	display: block;
	padding-top: 0;
}
.fgx1-1{
	position: relative;
	top: 0;
	line-height: 170%;
	font-size: 12px;
	list-style: none;
	color: #000;
	font-style: normal;
	width: 2px;
	height: 40px;
	background: #ccc;
	display: block;
}
.fgx1-1{
	position: relative;
	top: 28px;
	left: 0;
	line-height: 170%;
	font-size: 12px;
	list-style: none;
	color: #000;
	font-style: normal;
	width: 2px;
	height: 40px;
	background: #ccc;
	display: block;
}
.fgx2{
	line-height: 170%;
	font-size: 12px;
	color: #000;
	font-style: normal;
	width: 2px;
	height: 40px;
	background: #ccc;
	display: block;
}
.fgx2-2{
	position: relative;
	top: 28px;
	line-height: 170%;
	font-size: 12px;
	list-style: none;
	color: #000;
	width: 2px;
	height: 40px;
	background: #ccc;
	display: block;
}
.fgx3{
	line-height: 170%;
	font-size: 12px;
	list-style: none;
	color: #000;
	font-style: normal;
	width: 2px;
	height: 40px;
	background: #ccc;
	display: block;
}
.fgx3-3{
	position: relative;
	top: 28px;
	line-height: 170%;
	font-size: 12px;
	list-style: none;
	color: #000;
	font-style: normal;
	width: 2px;
	height: 40px;
	background: #ccc;
	display: block;
}
 .gonglue{
	 position: relative;
	 top: -88px;
	 right: 0;
	 width: 318px;
	 height: 20px;
	 color: #000;
	 font-size: 12px;
	 padding-top: 0;
	 text-align: left;
	 /*隐藏溢出部分，显示为...(省略号)*/
	 overflow: hidden;
	 white-space: nowrap;
	 text-overflow: ellipsis;
 }
 .zuozhe{
	 position: relative;
	 top: -100px;
	 right: 120px;
	 color: #666;
 }
.mengxin{
	position: absolute;
	top: 50px;
	right: -742px;
	width: 1058px;
	height: 124px;
	line-height: 170%;
	float: left;
	display: none;
	font-size: 12px;
	margin: 0;
	border-top: 0;
	z-index: 999;
	padding: 30px 0 0 118px;
	/*background: url("../img/shiting_bg_735f29c.jpg");*/
	background: #f2f2f2;
}
#xinshou:hover>.mengxin{
	 display: block;
}
.shishen-yuhun{
	position: absolute;
	top: 50px;
	right: -585px;
	width: 1059px;
	height: 123px;
	line-height: 170%;
	float: left;
	display: none;
	font-size: 12px;
	margin: 0;
	border-top: 0;
	z-index: 1000;
	padding: 30px 0 0 118px;
	/*background: url("../img/shiting_bg_735f29c.jpg");*/
	background: #f2f2f2;
}
.game-zsx{
	position: absolute;
	top: 44px;
	right: 44px;
	color: #78b798;
	width: 71px;
	height: 4px;
	z-index: 1001;
	display: block;
	background-repeat: no-repeat;
	background-position: -644px -727px;
	background-image: url(../img/index_z_203e03e.png);
}
#yuhun:hover>.shishen-yuhun{
	display: block;
}
.miwen{
	position: absolute;
	top: 50px;
	right: -424px;
	width: 1056px;
	height: 125px;
	line-height: 170%;
	float: left;
	display: none;
	font-size: 12px;
	margin: 0;
	border-top: 0;
	z-index: 1000;
	padding: 30px 0 0 118px;
	/*background: url("../img/shiting_bg_735f29c.jpg");*/
	background: #f2f2f2;
}
#miwen:hover>.miwen{
	display: block;
}
.douji{
	position: absolute;
	top: 50px;
	right: -268px;
	width: 1058px;
	height: 124px;
	line-height: 170%;
	float: left;
	display: none;
	font-size: 12px;
	margin: 0;
	border-top: 0;
	z-index: 1000;
	padding: 30px 0 0 118px;
	/*background: url("../img/shiting_bg_735f29c.jpg");*/
	background: #f2f2f2;
}
#douji:hover>.douji{
	display: block;
}
/*游戏攻略结束*/
/*同人手账开始*/
.tongren{
	position: relative;
	top: 60px;
	left: 0;
	height: 487px;
	background: url(../img/tongren_bg_4e00ea2.jpg) 0 bottom no-repeat;
}
.tongren-tit{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 53px;
	height: 144px;
	z-index: 10;
	background-repeat: no-repeat;
	background-position: -962px -532px;
	background-image: url(../img/index_z_203e03e.png);
}
.tongren-tit-con{
	position: relative;
	top: 25px;
	left: 0;
	margin: 0;
	padding: 0;
	width: 122px;
	height: 23px;
	background-repeat: no-repeat;
	background-position: -1005px -687px;
	background-image: url(../img/index_z_203e03e.png);
}
.tongren-num-con{
	position: relative;
	top: 5px;
	left: 0;
	width: 80px;
	height: 18px;
	float: right;
	border-left: 1px solid #ccc;
	/*background: red;*/
}
.gouyu-red{
	position: absolute;
	top: -4px;
	left: 20px;
	width: 16px;
	height: 25px;
	background-repeat: no-repeat;
	background-position: -1158px -441px;
	background-image: url(../img/index_z_203e03e.png);
}
.gouyu-blue-one{
	position: absolute;
	top: -4px;
	left: 40px;
	width: 16px;
	height: 25px;
	float: left;
	background-repeat: no-repeat;
	background-position: -1135px -441px;
	background-image: url(../img/index_z_203e03e.png);
}
.gouyu-blue-two{
	position: absolute;
	top: -4px;
	left: 60px;
	width: 16px;
	height: 25px;
	float: left;
	background-repeat: no-repeat;
	background-position: -1135px -441px;
	background-image: url(../img/index_z_203e03e.png);
}
.tongren-left{
	position: relative;
	top: -25px;
	left: 83px;
	width: 300px;
	height: 456px;
	margin: 0 0 0 65px;
	/*background: red;*/
}
.tongren-left img{
	width: 300px;
	height: 415px;
	margin-top: 24px;
}
.tongren-right{
	position: absolute;
	top: 40px;
	left: 0;
	height: 351px;
	background: url(../img/loading_057a59b.gif) center center no-repeat #fff;
}
#r-img-one{
	position: absolute;
	top: 0;
	left: 500px;
}
#r-img-two{
	position: absolute;
	top: 0;
	left: 735px;
}
#r-img-three{
	position: absolute;
	top: 0;
	left:970px;
}
.tongren-right-img-desc{
	text-align: left;
	border-left: 1px solid #000;
	padding: 0 0 0 15px;
	margin: 10px 0 0 20px;
}
.tongren-right-img-tit{
	font-weight: 700;
	overflow: hidden;
}
.tongren-right-img-desc p{
	font-size: 12px;
	color: #000;
	margin: 0;
	line-height: 18px;
}
.tongren-right-img-love{
	padding: 0 0 0 26px;
	background: url(../img/love_be82b43.png) no-repeat;
}
.shuaxin{
	position: absolute;
	top: 450px;
	left: 1100px;
	width: 65px;
	height: 22px;
	text-align: right;
	background-repeat: no-repeat;
	background-position: -1151px -470px;
	background-image: url(../img/index_z_203e03e.png);
}
.shuaxin span{
	color: #7fc4d2;
	font-size: 12px;
}
.tongren-tab{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 23px;
	font-size: 12px;
	/*background: red;*/
}
.tongren-tab ul{
	position: relative;
	top: 0;
	left: 860px;
	color: #bf9962;
}
.tongren-tab ul a{
	color: #bf9962;
}
.tongren-tab li{
	float: left;
	padding: 0 20px;
	border-right: 1px solid #ccc;
	height: 12px;
	line-height: 12px;
	list-style: none
}
.tongren-tab-tit{
	position: absolute;
	top: 0;
	left: 500px;
	width: 100px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: -999px -688px;
	background-image: url(../img/index_z_203e03e.png);
	/*background: greenyellow;*/
}
.dachu {
	position: relative;
	top: 29px;
	left: 0;
	width: 100%;
	height: 228px;
	margin: 46px 0 70px;
	background: url(../img/ruzhu_bg_1311a36.jpg) center bottom no-repeat;
}
.dachu-tit{
	text-align: center;
	/*font-size: 0;*/
}
.tongren-dachu{
	margin-right: 15px;
	padding-right: 20px ;
	border-right: 1px solid #cccccc;
}
.dachu-fenxiang{
	width: 100%;
	height: 228px;
	color: #7fc4d2;
	margin: 0 0 0 6px;
	font-size: 14px;
	/*background: red;*/
}
#yrz-qr {
	position: absolute;
	top: 0;
	left: 613px;
	z-index: 999;
	 display: none;
	background: #ffffff;
}
#yrz-qr img{
	position: absolute;
	top: -40px;
	left: 115px;
	width: 120px;
	z-index: 11;
	border: 1px solid #97d0db;
	border-radius: 50%;
}
#dzzz-qr{
	 position: absolute;
	 top: 0;
	 left: 740px;
	 z-index: 999;
	 display: none;
	 background: #ffffff;
 }
#dzzz-qr img{
	 position: absolute;
	 top: -40px;
	 left: 115px;
	 width: 120px;
	 z-index: 11;
	 border: 1px solid #97d0db;
	 border-radius: 50%;
 }
#dachu-yrz:hover>#yrz-qr{
	display: block;
}
#dachu-dzzz:hover>#dzzz-qr{
	display: block;
}
.dachu ul{
	position: absolute;
	top: 30px;
	left: -40px;
	width: 1280px;
	height: 155px;
	margin: 15px 0 0;
	list-style-type: none;
}
.dachu ul li{
	position: relative;
	float: left;
	width: 220px;
	height: 155px;
	margin: 0 20px 0 0;
	background: url(../img/rz_bg_596c03c.jpg) center bottom no-repeat;
}
.dachu-img{
	position: absolute;
	top: 5px;
	left: 50%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-left: -50px;
	overflow: hidden;
}
.dachu-img-bg{
	position: absolute;
	top: 0;
	left: 50%;
	width: 118px;
	height: 110px;
	margin: 0 0 0 -59px;
	background-repeat: no-repeat;
	background-position: -205px -741px;
	background-image: url(../img/index_z_203e03e.png);
}
.dachu-img-tit{
	position: relative;
	top: 115px;
	left: -3px;
	color: #000;
	font-size: 14px;
	overflow: hidden;
	/*background: red;*/
}
#dachu-sx {
	position: absolute;
	top: 203px;
	left: 1090px;
}
/*同人手账结束*/
/*视听盛宴开始*/
.shiting{
	position: relative;
	top: 400px;
	left: 0;
	width: 100%;
	height: 262px;
	padding-bottom: 47px;
}
.shiting-tit{
	float:left;
	width: 55px;
	height: 146px;
	background: url(../img/index_z_203e03e.png) -770px -532px;
}
.shiting-box{
	float: right;
	width: 1090px;
	height: 215px;
	background: url(../img/shiting_bg_735f29c.jpg) no-repeat left 70px;
}
.shiting-gengduo-box{
	position: relative;
	top: 177px;
	left: 500px;
	width: 210px;
	height: 40px;
	color: #c2a060;
	font-size: 14px;
	background: #fff;
	border: 1px solid #c2a060;
}
.shiting-gengduo-box p{
	position: relative;
	top: -135px;
	left: 40px;
	width: 80px;
	height: 20px;
	overflow: hidden;
	text-align: left;
	/*background: red;*/
}
.shiting-gengduo-box i{
	position: relative;
	top: -171px;
	left: 100px;
	width: 41px;
	height: 5px;
	display: inline-block;
	background: url(../img/arrow_245be57.png) no-repeat;
}
.shiting-box>div{
	position: relative;
	top: 0;
	left: 0;
	float: left;
	width: 250px;
	height: 40px;
	/*background-color: gold;*/
	margin-left: 20px;
}
.shiting-box>div:first-child{
	margin-left: 30px;
}
.shiting-name{
	position: absolute;
	top: 120px;
	right: -10px;
	background-color: #000;
	padding: 5px 10px;
	color: #fff;
}
.shiting-i{
	position: relative;
	top: 5px;
	left: -4px;
	width: 16px;
	height: 12px;
	float: left;
	background: url(../img/au_35379f6.png) no-repeat;
}
/*视听盛宴结束*/
/*泛娱乐开始*/
.fan{
	position: relative;
	top: 400px;
	left: 0;
	width: 100%;
	height: 516px;
	margin-bottom: 70px;
	background:url(../img/fun_bg_99effa1.jpg) no-repeat  left 175px;
}
.fun-tit{
	float: left;
	width: 55px;
	height: 140px;
	background: url(../img/index_z_203e03e.png) -1025px -532px;
}
.fun-box{
	float: right;
	width: 1060px;
	height: 516px;
	/*overflow: initial;*/
}
.fun-con{
	position: relative;
	width: 1060px;
	height: 558px;
	overflow: auto;
}
.fun-container{
	position: absolute;
	top: 20px;
	left: 0;
	width: 2080px;
	height: 516px;
}
.fun-container>div{
	width: 220px;
	height: 516px;
	float: left;
	margin-right: 10px;
}
.fun_btn_right{
	position: relative;
	top: 43%;
	left: 1154px;
	width: 70px;
	height: 70px;
	background: #fff;
	border: 1px solid #c2a060;
	margin-top: -35px;
}
.fun_btn_right>i{
	width: 47px;
	height: 9px;
	display: block;
	margin: 32px auto 0;
	background: url(../img/arrow4_bdb96a0.png) no-repeat;
}
/*泛娱乐结束*/
/*京都商业街开始*/
.jingdu{
	position: relative;
	top: 400px;
	left: 0;
	width: 100%;
	height: 277px;
}
.jingdu-tit{
	position: relative;
	float: left;
	width: 56px;
	height: 188px;
	background: url(../img/index_z_203e03e.png) -642px -528px;
}
.jingdu-box-com{
	position: relative;
	top: 0;
	left: 55px;
	width: 1066px;
	height: 280px;
	overflow: auto;

}
.jingdu-box {
	position: absolute;
	left: -90px;
	float: right;
	width: 1688px;
	height: 250px;
	padding-top: 20px;
}
.jingdu-box>div {
	float: left;
	width: 250px;
	height: 150px;
}
.jingdu-com{
	position: relative;
	margin: 8px;
}
.jingdu-box>div:first-child{
	margin-left: 100px;
}
.jingdu-line{
	margin: 7px 40px 0 42px;
	line-height: 170%;
	font-size: 12px;
	color: #000;
}
.hr {
	position: relative;
	top: -4px;
	left: 0;
	margin: -9px -10px 15px 130px;
	padding: 0;
	height: 5px;
	/*background: rgb(239, 239, 239);*/
	width: 1044px;
}
#hr-box{
	position: relative;
	top: -20px;
	left: 108px;
	height: 30px;
	width: 260px;
	font-size: 12px;
	line-height: 28px;
	color: #c2a060;
	box-sizing: border-box;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(194, 160, 96);
}
/*京都商业街结束*/
/*二维码开始*/
.qr-code{
	position: relative;
	top: 450px;
	left: 0;
	width: 1180px;
	height: 330px;
	font-size: 12px;
	margin: 0 0 0 96px;
}
.qr-code-box {
	position: absolute;
	top: 0;
	left: -80px;
	margin: 83px 0 0;
	width: 100%;
	height: 145px;
	background: #f2f2f2;
}
.qr-code-clr-box {
	position: relative;
	top: -15px;
	left: 135px;
	width: 100%;
	height: 146px;
	margin-left: -100px;
}
.qr-name{
	position: relative;
	top: 35px;
	left: -128px;
	width: 200px;
	height: 20px;
	line-height: 170%;
	color: #000;
	font-size: 14px;
	font-family: 楷体, serif;
	margin: 119px 0 0 85px;
}
.qr-tit{
	position: relative;
	top: 17px;
	left: 40px;
	width: 200px;
	height: 20px;
	color: #ccb786;
	font-size: 14px;
	font-family: 华文行楷, serif;
}
.qr-code-ewm{
	position: relative;
	float: left;
	background-color: #f2f2f2;
	border: 2px solid #ab9f9f;
	width: 200px;
	height: 150px;
	margin: -26px 37px 0 0;
}
.tp{
	position: absolute;
	top:  -56px;
	left: 100px;
}
.p1 {
	position: absolute;
	color: #000;
	width: 16px;
	float: left;
	margin: -115px 5px 0 8px;
	display: block;
	line-height: 14px;
	font-family: 楷体, serif;
}
.p2 {
	position: absolute;
	color: #000;
	width: 16px;
	height: 50px;
	float: left;
	margin: -113px 5px 0 33px;
	line-height: 100%;
	display: block;
	font-size: 12px;
	font-family: 楷体, serif;
}
.p3 {
	position: absolute;
	color: #000;
	padding: 0;
	width: 16px;
	height: 50px;
	float: left;
	margin: -132px  5px 0 60px;
	line-height: 100%;
	display: block;
	font-size: 23px;
	font-family: 楷体, serif;
}
.shenle{
	position: absolute;
	top: -22px;
	left: 0;
	width: 205px;
	height: 280px;
	margin-top: -58px;
	margin-left: 930px;
	overflow: hidden;
	background: url("../img/code_role_bg_58d7f15.png") 68px top no-repeat;
}
.shenle img{
	position: absolute;
	top: 45px;
	left: 11px;
}
/*二维码结束*/
/*底部开始*/
.dibu{
	position:relative;
	top: 400px;
	left: 0;
	width: 100%;
	height: 927px;
	background: url(../img/bottom_bg_b30cb11.png) center no-repeat;
}
.dibu-box{
	position: relative;
	top: 0;
	left: 0;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.dibu-logo-box{
	position: absolute;
	top: 0;
	left: -360px;
}
.dibu-logo {
	position: absolute;
	top: 346px;
	left: 550px;
	width: 71px;
	height: 224px;
	background: url(../img/75.webp) no-repeat;
}
.dibu-ewm-box{
	position: absolute;
	top: 290px;
	left: 1250px;
	width: 300px;
	height: 300px;
	background: url("../img/bott_yuan_76bba3a.png") no-repeat;
}
.dibu-gengduo{
	position: absolute;
	top: 290px;
	left: 1250px;
	width: 300px;
	height: 300px;
	background: url("../img/bott_black_82cac82.png") no-repeat;
}
.dibu-gengduo:hover{
	background: url(../img/bott_ewm_853021b.png) no-repeat;top: 242px;left: 1200px;
	color: #000;
}
.footer{
	position: absolute;
	top: 600px;
	left: -369px;
	width: 100%;
	height: 328px;
	/*background: red;*/
}
.share-box{
	position: absolute;
	top: 140px;
	left: 458px;
	width: 1045px;
	height: 150px;
	color: #fff;
	/*background: red;*/
}
.fenxiang-box{
	position: absolute;
	top: 105px;
	left: 850px;
	width: 250px;
	height: 30px;
	/*background-color: gold;*/
}
.fx{
	font-size: 12px;
	color: #ffffff;
}
.qq-box{
	width: 30px;
	height: 30px;
	color: #ffffff;
	margin: -25px 1px -8px 0;
}
.nie-cn-part1{
	position: relative;
	top: 25px;
	left: 450px;
	/*position: absolute;*/
	/*top: 200px;*/
	/*left: 900px;*/
	width: 1013px;
	height: 46px;
	text-align: left;
	margin: 0 260px -48px -450px;
	/*background: red;*/
}
.nie-cn-part2{
	position: relative;
	top: 30px;
	left: -30px;
	width: 1045px;
	height: 100px;
	color: #fff;
	/*background: gold;*/
}
.nie-cn-part2 >p{
	position: relative;
	top: 35px;
	left: 30px;
	width: 800px;
	height: 25px;
	line-height: 170%;
	font-size: 12px;
	text-align: left;
	/*background: red;*/
}
.nie-cn-nav{
	position: relative;
	top: -38px;
	left: 360px;
	width: 660px;
	height: 40px;
	text-align: left;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	/*background: red;*/
}
.jzgapt{
	position: relative;
	top: 3px;
	left: 182px;
	color: #fff;
	display: inline-block;
	background-color: #610000;
	line-height: 26px;
	padding: 0 3px;
}
.health-game{
	position: relative;
	top: 20px;
	left: 25px;
	width: 735px;
	height: 45px;
	line-height: 170%;
	font-size: 12px;
	text-align: left;
	float: left;
	/*background: red;*/
}
.health-game >a{
	color:#fff;
}
/*底部结束*/